@use "variables";

// Global styles
body {
  background: variables.$bg-color;
  color: variables.$txt-color;
  font-family: variables.$body-font;
  font-size: variables.$txt-size;
  overflow-x: hidden;
}
h1 {
  font-family: variables.$play-font;
  color: variables.$accent-blue;
}
h3 {
  font-family: variables.$code-font;
  color: variables.$accent-green;
}
button {
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
}
a {
  text-decoration: none;

  &:visited {
    color: variables.$txt-color;
  }
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
li {
  padding: 1rem 1.5rem;
}
