@use "variables";

.home-welcome-info {
  .color-block {
    transform: skew(40deg);
    position: relative;

    .restaurant-info {
      transform: skew(-40deg);
      height: 500px;
      width: 500px;
      border-radius: 50%;
      background-color: #fff;
      color: #000;
      line-height: 1.8;
      position: relative;
      left: 50%;

      p {
        padding: 100px 75px 0;
      }

      img {
        position: relative;
        right: 60%;
      }
    }
  }
}

.home-hours-open {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.happy-hour-menus {
  display: grid;
  grid-template-columns: auto auto;

  h1 {
    grid-column: 1 / span 2;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .food-menu {
    h3 {
      grid-column: 1 / span 2;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .wine {
    padding-left: 0;
    ul {
      list-style: none;
    }
  }
}

.food {
  .color-block {
    transform: skew(-40deg);
    position: relative;
    .food-info {
      transform: skew(40deg);
      position: relative;
      right: 100%;
      h1 {
        text-align: left;
      }

      img {
        position: relative;
        left: 200%;
        margin-top: 50%;
      }
    }
  }
}

.contact-form {
  display: grid;
  grid-template-columns: auto auto;
  height: 600px;

  .contact-info {
    background: variables.$accent-green;
    color: variables.$bg-color;
    font-size: 1.25rem;
    padding: 200px 0 200px 200px;

    h2 {
      text-decoration: underline;
    }
  }

  form {
    background: variables.$accent-blue;
    color: variables.$bg-color;
    font-weight: bold;
    display: flex;
    flex-direction: column;

    input {
      width: 40%;
    }

    input,
    textarea,
    button {
      border-radius: 5px;
      border-color: variables.$bg-color;
    }

    button {
      background-color: variables.$bg-color;
      max-width: 300px;
      border: variables.$bg-color;
      color: variables.$txt-color;
      font-family: variables.$code-font;

      &:hover {
        background: variables.$accent-green;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1310px) {
  .food {
    .color-block {
      .food-info {
        right: 50%;
        img {
          left: 125%;
          margin-top: 50%;
        }
      }
    }
  }

  .contact-form {
    height: 500px;
    .contact-info {
      padding: 150px 0 150px 50px;
    }
    form {
      input {
        width: 75%;
      }
    }
  }
}
