$bg-color: #303841;
$txt-color: #fff;
$body-font: "Lora", serif;
$play-font: "Playfair Display", serif;
$code-font: "Source Code Pro", monospace;
$accent-blue: #00adb5;
$accent-green: #5fcc9c;
$accent-pink: #f67280;
$txt-size: 18px;
