$bg-color: #303841;
$txt-color: #fff;
$body-font: "Lora", serif;
$play-font: "Playfair Display", serif;
$code-font: "Source Code Pro", monospace;
$accent-blue: #00adb5;
$accent-green: #5fcc9c;
$accent-pink: #f67280;
$hero-img: "https://www.traceseattle.com/resourcefiles/homeimages/who1154re-260920-trace-restaurant-high-1.jpg?version=10202020225107";

// Global styles
body {
  background: $bg-color;
  color: $txt-color;
  font-family: $body-font;
  font-size: 18px;
}
h1 {
  font-family: $play-font;
}
h3 {
  font-family: $code-font;
}

// Global class styles
.italics {
  font-style: italic;
}
.cap-item-width {
  flex-basis: 100px;
}
.pd-1 {
  padding: 1rem;
}

// Specific styles
.cap {
  display: flex;
  height: 100px;
  width: 95%;
  margin: auto;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 100px;

  h1 {
    flex-grow: 7;
  }

  h3 {
    flex-grow: 1;
    text-align: right;
  }

  p {
    flex-grow: 1;
    text-align: center;
  }

  button {
    flex-grow: 1;
    background: $accent-blue;
    color: $txt-color;
    border: $accent-blue;
    width: 100px;
    height: 50px;
    font-family: $code-font;
    border-radius: 5px;
    // Need to fix sizing, button grows with screen size

    &:hover {
      background: $accent-green;
      cursor: pointer;
    }
  }
}
.hero {
  height: 520px;
  width: 90%;
  margin: auto;
  padding: 50px;
  background: linear-gradient(
    to right,
    $accent-blue,
    $accent-green,
    $accent-pink
  );

  .hero-img {
    background: #ccc;
    height: 95%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
